* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: end;
}

.about {
    background-color: salmon;
}

.projects {
    background-color: navy;
}

.contact {
    background-color: tomato;
}